
  <div class="content">
      <h2>List of Bookings</h2>

    <div class="container">
  
      <!-- Search Box -->
      <div class="search-container">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Search..."
          class="form-control"
        />
      </div>

      <ngx-datatable class="bootstrap"
      style="height: 250px;"
      [rows]="filteredBookings"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="40"
      [columnMode]="'force'"
      [scrollbarV]="true"
      [pagination]="true"
      [limit]="10"
      [count]="filteredBookings.length"
      (sort)="onSort($event)"
    >

    <ngx-datatable-column name="Driver's Name" prop="driver.name" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column name="Driver's Contact" prop="driver.contact" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column name="Hourly Rate" prop="driver.rate" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column name="Customer's Name" prop="user.name" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column name="Customer's Contact" prop="user.phone" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column name="Actions" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button (click)="confirmDelete(row.id, row.driver.id)" class = "btn" tooltip="Delete Booking" placement="top" container = "body">
          <i class="fas fa-trash"></i>
        </button>  
      </ng-template>
    </ngx-datatable-column>
  
  </ngx-datatable>
    </div>
  
    <div class="btns">
      <ion-button (click) = "bookDriver()" class = "book">Book A Driver</ion-button>&nbsp;
    </div>
  
    <div *ngIf="showConfirmation" class="confirmation-popup">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="btn-close" (click)="closeConfirmation()"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this booking?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="cancel-btn" (click)="closeConfirmation()">Cancel</button>
            <button type="button" class="delete-btn" (click)="deleteBooking()">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
    <app-admin-book-driver *ngIf = "showForm" (bookingAdded) = "onBookingAdded()" (formClosed)="onFormClosed()"></app-admin-book-driver>

  </div>
  
  
 

  <!-- <div *ngIf="showConfirmation" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" (click)="closeConfirmation()"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this customer?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel-btn" (click)="closeConfirmation()">Cancel</button>
          <button type="button" class="delete-btn" (click)="deleteCustomer()">Delete</button>
        </div>
      </div>
    </div>
  </div> -->




