<body>
  <div class="back">
    <button (click)="goBack()" class = "btn1"><i class="fas fa-angle-left"></i>&nbsp;Back</button>
  </div>
  
  <div class="heading">
    <h2>List of Drivers</h2>
  </div>
  
  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Contact</th>
          <th scope="col">Hourly Rate</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let driver of drivers">
          <td>{{ driver.name }}</td>
          <td>{{ driver.address }}</td>
          <td>{{ driver.contact }}</td>
          <td>{{ driver.rate }}</td>
          <td><button (click)="openDeletePopup(driver.id)" class = "btn" tooltip="Delete Driver" placement="top" container = "body"><i class="fas fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="btns">
      <ion-button (click)="onBookDriver()" class = "book">Book A Driver</ion-button>&nbsp;
      <ion-button (click)="onAddDriver()" class = "add">Add A Driver</ion-button>
    </div>

  <app-add-driver *ngIf="showForm" (driverAdded)="onDriverAdded()" (formClosed)="onFormClosed()"></app-add-driver>
  <app-book-driver *ngIf="showOption" (optionClosed)="onOptionClosed()"></app-book-driver>
</body>

