h2{
    color: #191919;
}
.table{
    margin-top: 0.25%;
    margin-left:5.5%;
}

.heading{
    margin-top:2%;
    display: flex;
    justify-content: center;
}

.btns{
    display: flex;
    justify-content: center;
    
}

.back{
    display: flex;
    justify-content: right;
    margin: 10px 20px 0px 0px;
}
