ion-toolbar.nav{
    --background: #191919;
    --color: #fff;
}

ion-button.login, ion-button.logout{
    --background: #ecad0c;
    --border-radius:15px;
    --padding: 5px;
}

ion-button:hover{
    scale: 1.05;
}

ion-button a{
    padding: 8px;
}

ion-buttons{
    margin-right: 5%;
}

ion-title{
    margin-left: 5%;
}