ion-toolbar.nav{
    --background: #191919;
    --color: #fff;
}

::ng-deep{
    ion-popover.select-popover {
        margin-top:1.25% !important;
        margin-right: 3% !important;
    }
}

ion-button:hover{
    scale: 1.05;
}

ion-button a{
    padding: 8px;
}

ion-buttons{
    margin-right: 5%;
}

ion-title{
    margin-left: 5%;
}

ion-select{
    width: auto;
}