<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
  <nav>
    <ul>
        <li style="padding-top:2rem;">
            <a routerLink="/admin-dashboard" routerDirection="forward" routerLinkActive="active">
                <i class="fas fa-home"></i>
                <span class="nav-item">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/customer-list" routerDirection="forward" routerLinkActive="active">
                <i class="fas fa-user"></i>
                <span class="nav-item">Customers List</span>
            </a>
        </li>
        <li>
          <a routerLink="/driver-list" routerDirection="forward" routerLinkActive="active">
              <i class="fas fa-user"></i>
              <span class="nav-item">Drivers List</span>
          </a>
      </li>
        <li>
            <a routerLink="/booking-list" routerDirection="forward" routerLinkActive="active">
                <i class="fas fa-calendar"></i>
                <span class="nav-item">Booking List</span>
            </a>
        </li>
    </ul>
  </nav> 

