nav{
position:fixed;
top:0;
// bottom:0;
height:100%;
left:0;
background:#191919;
width:250px;
overflow-y:hidden;
transition: width 0.2s linear;
}

.logos{
text-align:center;
display:flex;
transition: all 0.5s ease;
margin: 6px 0 0 6px;

}

.logos img{
width:60px;
height: 60px;
border-radius:50%;
}

.logos span{
font-weight: bold;
padding-left: 15px;
margin-top:7px;
font-size: 18px;
text-transform: uppercase;
}

ul{
padding:0;
margin: 0;
}

li{
    list-style: none;
}

a{
position:relative;
color:#fff;
font-size:15px;
display:block;
font-weight:500;
width: 100%;
padding:10px;
text-decoration:none;
}

.fas{
position: relative;
width: 70px;
height: 40px;
top:14px;
font-size: 20px;
text-align: center;
}

.nav-item{
position: relative;
top: 12px;
margin-left: 10px;
}

a:hover{
background: #353551;
}